# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
ENV/
backend/venv/

# Archivos de entorno
.env
.env.*
!.env.example

# ======================
# Logs / cache
# ======================
*.log
*.sqlite3
*.db

# ======================
# Frontend
# ======================
node_modules/
dist/
build/
.cache/

# ======================
# Editor / SO
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ======================
# Docker
# ======================
*.pid
